---
// src/components/docs/mobile/DocsMobileNavbar.astro
import Icon from "@ui/Icon.astro";
import Button from "@ui/Button.astro";
import Logo from "@ui/Logo.astro";
import Drawer from "@ui/Drawer.astro";

import DocsNavbar from "@/components/docs/DocsNavbar.astro";
import Sidebar from "@ui/Sidebar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  sidebarProps: any;
  hideHeader?: boolean;
  hideFooter?: boolean;
}

const { sidebarProps, hideHeader, hideFooter } = Astro.props;
---

<header class="sticky top-0 z-50 flex h-14 w-full items-center justify-between border-b border-(--border-subtle)/40 bg-(--bg)/80 px-4 backdrop-blur-md lg:hidden">
  <Logo />
  <Button variant="icon" size="sm" data-drawer-trigger="mobile-nav-drawer" aria-label="Buka Menu" class="border border-(--border)/80">
    <Icon name="menu" className="h-4 w-4" />
  </Button>
</header>
<Drawer id="mobile-nav-drawer">
  {!hideHeader && <DocsNavbar />}
  <div class="mb-4 flex-1">
    {sidebarProps && (
      <Sidebar id="sidebar-mobile"
        {...sidebarProps} 
      />
    )}
  </div>
  {!hideFooter && (
    <div class="mt-auto pt-4 pb-(--safe-bottom)">
      <Footer />
    </div>
  )}
</Drawer>