---
// src/components/docs/DocsNavbar.astro
import { NAV } from "@/consts";
import Select from "@ui/Select.astro";
import SearchBar from "@ui/SearchBar.astro";
import Logo from "@ui/Logo.astro";

const currentPath = Astro.url.pathname;

const navItems = NAV.navBar.map((item) => ({
  label: item.label,
  subtitle: item.label,
  value: item.label.toLowerCase(),
  href: item.href,
  icon: item.icon,
  isExternal: item.isExternal,
}));

const activeNavItem = navItems.find((item) => {
  if (item.href === "/") return currentPath === "/";
  return currentPath.startsWith(item.href);
});

---

<header>
  <div class="flex flex-col gap-4 mb-4 w-full">
    <Logo />
    <Select 
      size="md"
      options={navItems} 
      selectedValue={activeNavItem?.value} 
      placeholder="Select Page"
    />
    <SearchBar />
  </div>
</header>
