/* src/styles/prose/components/table.css */
.prose table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: var(--fg);
  font-size: inherit;
  line-height: inherit;
}

.prose > table {
  margin: 2rem 0;
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.prose thead {
  background: var(--bg-subtle);
}

.prose thead th {
  border-bottom: 1px solid var(--border);
  color: var(--fg-strong);
  text-align: start;
  text-transform: none;
  white-space: nowrap;
}
.prose th,
.prose thead tr {
  color: var(--fg-strong);
}

.prose tbody,
.prose tbody tr {
  background: var(--bg-subtle);
}

@media (hover: hover) {
  .prose tbody tr:hover {
    background: var(--bg-muted);
  }
}

.prose th,
.prose td {
  vertical-align: top;
  /*white-space: nowrap;*/
}

.prose td code,
.prose th code {
  white-space: nowrap;
}

.prose tbody td {
  border-bottom: 1px solid var(--border-subtle);
  background: transparent;
  color: var(--fg);
}

.prose tbody tr:last-child td {
  border-bottom: none;
}

.prose tbody td strong {
  color: var(--fg-strong);
  font-weight: 600;
}

.prose tbody td small {
  @apply text-label-14;
  color: var(--fg-subtle);
  font-weight: 500;
}

.prose th:not(:last-child),
.prose td:not(:last-child) {
  border-inline-end: 1px solid var(--border-subtle);
}

@media (max-width: 767px) {
  .prose > table {
    margin: 1.5rem 0;
  }

  .prose thead th,
  .prose tbody td {
    @apply text-numeric-14;
    padding: 0.5rem 0.75rem;
  }
}

@media (min-width: 768px) {
  .prose thead th,
  .prose tbody td {
    @apply text-numeric-14;
    padding: 0.625rem 1rem;
  }
}
