---
// src/pages/index.astro
import {
  buildMeta,
  SITE,
  ROUTES,
  schemaSoftwareApplication,
} from "@/consts";

import Layout from "@/layouts/Layout.astro";
import Container from "@/components/ui/Container.astro";
import Icon from "@/components/ui/Icon.astro";
import Alert from "@/components/ui/Alert.astro";
import Card from "@/components/ui/Card.astro";
import Button from "@/components/ui/Button.astro";
import Section from "@/components/ui/Section.astro";
import heroImage from "@/assets/images/Adogen-hero.jpeg";
import { Image } from "astro:assets";

const meta = buildMeta({
  description: SITE.description,
  canonical: SITE.url,
  ogType: "website",
  keywords: [],
});
---

<Layout {meta} isHome>
  <div class="relative flex w-full flex-1 flex-col items-center">
    <Alert
      title="ALERT"
      message="Docs Khusus A0"
      icon="askAIAgent"
      actionLabel="Read docs"
      actionHref="/docs"
    />
  </div>
</Layout>
