---
// src/pages/index.astro
import {
  buildMeta,
  SITE,
  ROUTES,
  schemaSoftwareApplication,
} from "@/consts";

import Layout from "@/layouts/Layout.astro";
import Container from "@/components/ui/Container.astro";
import Card from "@/components/ui/Card.astro";
import Section from "@/components/ui/Section.astro";
import Hero from "@/components/Hero.astro";

const meta = buildMeta({
  description: SITE.description,
  canonical: SITE.url,
  ogType: "website",
  keywords: [],
});
---

<Layout {meta} isHome>
  <div class="relative flex w-full flex-1 flex-col items-center pb-(--safe-bottom)">
    <Container size="full" class="px-0! md:px-4!">
      <Section size="sm">
        <Hero />
      </Section>
    </Container>
    <Container size="xl">
      <Section size="sm">
        <p class="text-heading-32 font-normal">Adogendocs is a Astro documentation framework for Developers, beautifully designed by Fuma Nama. Bringing powerful features for your docs workflows, with high customizability to fit your preferences, works seamlessly with any React.js framework, CMS — anything.</p>
      </Section>
    </Container>
  </div>
</Layout>
