---
interface Props {
    class?: string
}

const {
  class: className = '',
} = Astro.props;

const deafultClass = "grid grid-cols-1 lg:grid-cols-[16rem_minmax(0,1fr)_18rem] mx-auto min-h-screen w-full";
const classes = [
    deafultClass,
    className,
]
---
<div class:list={[classes]}>
    <slot />
</div>