---
//src/components/SkipLink.astro

const SkipLabel = "Skip to content";
---

<a href="#main-content" class="sr-only fixed top-3 left-3 z-50 hidden rounded-md bg-(--bg) border-(--accent) px-4 py-2 text-(--fg-stong) shadow-lg focus:not-sr-only">
  {SkipLabel}
</a>
