---
// src/components/Theme.astro
import Button from "@ui/Button.astro";
import Icon from "@ui/Icons.astro";
---

<bima-theme-toggle>
  <Button 
    variant="icon"
    size="md"
    thisIcon
    aria-label="Toggle tema"
    class="theme-btn relative">
    <Icon name="moon" class="icon-moon h-5 w-5" />
    <Icon name="sun" class="icon-sun h-5 w-5" />
  </Button>
</bima-theme-toggle>

<style is:global>
  .icon-moon, 
  .icon-sun { 
    display: none; 
  }
  [data-theme='dark'] .icon-sun { display: block; }
  [data-theme='light'] .icon-moon { display: block; }
</style>



<script>
  class BimaThemeToggle extends HTMLElement {
    constructor() {
      super();
      const btn = this.querySelector('.theme-btn');
      
      const updateTheme = (newTheme: string) => {
        document.documentElement.dataset.theme = newTheme;
        document.documentElement.style.colorScheme = newTheme;
        localStorage.setItem('a0-theme', newTheme);
      };

      btn?.addEventListener('click', () => {
        const currentTheme = document.documentElement.dataset.theme;
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        updateTheme(newTheme);
        
        window.dispatchEvent(new CustomEvent('theme-changed', { detail: { theme: newTheme } }));
      });

      window.addEventListener('theme-changed', (e: any) => {
        if (e.detail.theme !== document.documentElement.dataset.theme) {
          updateTheme(e.detail.theme);
        }
      });
    }
  }
  customElements.define('bima-theme-toggle', BimaThemeToggle);
</script>