---
// src/components/mdx/Link.astro
import Icon from "@/components/ui/icons/Icon.astro";

interface Props {
  href?: string;
  class?: string;
  [key: string]: any;
}

const { href, ...props } = (Astro.props || {}) as Props;

const siteUrl = Astro.site?.href || import.meta.env.SITE || "";
const isExternal = href?.startsWith("http") && !href?.startsWith(siteUrl);
---

<a
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "nofollow noopener noreferrer" : undefined}
  class:list={["inline-link", props.class]}
  {...props}
>
  <slot />
  {isExternal && <Icon name="external" className="external-icon w-4 h-4" />}
</a>
