---
// src/layouts/DocsLayout.astro
import Layout from "./Layout.astro";
import Footer from "@/components/Footer.astro";
import DocsNavbar from "@docs/DocsNavbar.astro";
import DocsNavbarMobile from "@docs/mobile/DocsNavbar.astro";
import DocsNavigation from "@docs/DocsNavigation.astro"; 
import PageFrame from "@/components/PageFrame.astro";
import Sidebar from "@/components/ui/Sidebar.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import ScrollToTop from "@docs/mobile/ScrollToTop.astro";

---
<Layout hideHeader hideFooter>
  <MobileHeader>
    <DocsNavbarMobile />
    <div class="flex-1 overflow-y-auto mb-0 scrollbar-hide">
      <DocsNavigation />
    </div>
    <Footer />
  </MobileHeader>
  <PageFrame>
    <aside class="bg-(--bg) rounded-none border-r border-(--border-subtle)/80 hidden sticky top-0 lg:block h-[calc(100vh)] w-full">
      <Sidebar>
        <DocsNavbar />
        <div class="flex-1 overflow-y-auto">
          <DocsNavigation />
        </div>
        <Footer />
      </Sidebar>
    </aside>
    <main id="main-content" class="w-full min-w-0 flex-1">
      <slot />
    </main>
    <aside class="hidden sticky top-(--header-height) lg:block lg:h-[calc(100vh-var(--header-height))] overflow-y-auto px-2 pt-4 pb-(--safe-bottom) w-full">
      <slot name="right" />
    </aside>
  </PageFrame>
  <ScrollToTop />
</Layout>
