---
//src/ui/Logo.astro
import { 
    SITE, 
    ROUTES 
} from "@/consts";

import Button from "./Button.astro";
import Icon from "@ui/Icons.astro";

interface Props {
  label?: boolean;
}

const { label = true } = Astro.props;
---
<Button
    href={ROUTES.home}
    aria-label={SITE.name}
    variant="ghost"
    size="lg"
    prefix={<Icon name="ai-agent" class="size-6" />}
    class="p-0! hover:bg-transparent! gap-1.5! text-heading-20 font-semibold text-(--fg-strong)">
    {label && ( 
        <span>
            {SITE.name}
        </span> 
    )}
    <br />
</Button>