---
//src/ui/Logo.astro
import { 
    SITE, 
    ROUTES 
} from "@/consts";

interface Props {
  label?: boolean;
}

const { label = true } = Astro.props;

import Icon from "@ui/Icon.astro";
---
<div class="flex items-center justify-between w-full">
    <a
        href={ROUTES.home}
        aria-label={SITE.name}
        class="inline-flex shrink-0 items-center gap-1.5 text-lg font-semibold text-(--fg)">
        <Icon name="logo" className="h-5 w-5" />
        {label && ( <span class="hidden md:block font-mono">{SITE.name}</span> )}
    </a>
</div>