---
//src/ui/Logo.astro
import { 
    SITE, 
    ROUTES 
} from "@/consts";

interface Props {
  label?: boolean;
}

const { label = true } = Astro.props;

import Icon from "@ui/Icons.astro";
---
<div class="flex items-center justify-between w-full">
    <a
        href={ROUTES.home}
        aria-label={SITE.name}
        class="inline-flex shrink-0 items-center gap-2 text-heading-18 font-semibold text-(--fg-strong)">
        <Icon name="logo" class="h-8 w-8" />
        {label && ( <span class="hidden md:block font-mono">{SITE.name}</span> )}
    </a>
</div>