---
// src/components/SearchBar.astro
import Icon from "./Icon.astro";
import Button from "./Button.astro";

interface Props {
  iconOnly?: boolean;
}

const { iconOnly = false } = Astro.props;
---
{iconOnly && (
  <Button 
    data-search-trigger
    aria-label="Buka pencarian"
    variant="icon"
    size="md"
    class:list={[
      "inline-flex shrink-0 justify-center items-center",
      "p-1.5"
    ]}>
    <Icon name="search" className="h-full w-full"
    />
  </Button>
)}
{!iconOnly && (
  <Button
    data-search-trigger
    aria-label="Buka pencarian"
    variant="outline"
    size="md"
    class="flex items-center justify-start"
    prefix={
      <Icon 
        name="search" 
        className="h-4 w-4 shrink-0 text-(--fg-muted)" />
    }
    suffix={
      <kbd class="hidden items-center gap-1 rounded border border-(--border) bg-(--bg-muted) px-1.5 py-1 font-mono text-xs font-medium text-(--fg-muted) transition-opacity group-hover:text-(--fg) lg:flex">
        <span class="leading-none">CTRL</span> + K
      </kbd>
    }>
    <span class="flex-1 truncate text-(--fg-muted)">Cari...</span>
  </Button>
)}

<script>
  (() => {
    const initSearchTrigger = () => {
      const triggers = document.querySelectorAll("[data-search-trigger]");
      
      triggers.forEach((trigger) => {
        trigger.addEventListener("click", (e) => {
          e.preventDefault();
          document.dispatchEvent(new CustomEvent("open-search"));
        });
      });
    };
    initSearchTrigger();
  })();
</script>