---
// src/components/SidebarLink.astro
interface Props {
  href: string;
  isActive?: boolean;
}

const { 
  href, 
  isActive = false 
} = Astro.props;

const $ = {
  wrapper: "flex items-center text-sm px-2 py-1.5 font-medium rounded-md transition-opacity",
}
---

<a
  href={href}
  data-pagefind-filter="category"
  class:list={[
    $.wrapper,
    isActive
      ? "bg-(--bg-muted) text-(--fg-strong)"
      : "text-(--fg) hover:bg-(--bg-muted) active:bg-(--bg-muted)"
  ]}
>
  <slot />
</a>