---
// src/components/SidebarGroup.astro
import Icon from './Icons.astro';
interface Props {
  title: string;
  open?: boolean;
}

const { title, open = true } = Astro.props;
---

<details class="group" {open}>
  <summary class="flex items-center justify-between cursor-pointer list-none [&::-webkit-details-marker]:hidden select-none py-2 px-2 rounded-md hover:bg-(--bg-muted)">
    <span class="text-sm font-semibold text-(--fg-strong)">{title}</span>
    <span class="transition-transform duration-200 group-open:rotate-90">
        <Icon name='chevron-right' class='w-4 h-4' />
    </span>
  </summary>
  <div class="flex flex-col border-l border-(--border-subtle)/80 ml-2 pl-3 space-y-0.5 mt-1">
    <slot />
  </div>
</details>