---
interface Props {
  id?: string;
  class?: string;
}

const { 
  id, 
  class: className = '' 
} = Astro.props;

const $ = {
  baseClass: "flex h-screen flex-col py-2 flex-1 scrollbar-hide"
}
---

<div id={id} class:list={[
  $.baseClass,
  className
]}>
  <slot />
</div>
